/* CONTENEDOR DE LAS 5 TARJETAS */
.Acciones {
  background-image: url("../Imagenes/verde\(2\).jpg");

}

.Introducción{
  color:#444 ;
  font-size: 20px;
  margin-top: 6%;
  line-height: 1.5;
  text-justify: center;
  background-color: #fff;

}

.Ecología {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
  padding: 3%;
  font-family: Arial, sans-serif;
  color: #333;
}

.Ecología section {
  width: 100%;
  height: 60vh; 
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 2%;
  text-align: center;
}

/* IMAGEN ARRIBA */
.Ecología section img {
  width: 40%;
  height: auto;
  object-fit: contain;
  margin-bottom: 5%;
}

/* NOMBRE */
.Ecología section h1 {
  font-size: 1.3rem;
  margin-bottom: 6%;
}

/* TEXTO EN MEDIO */
.Ecología section p {
  flex-grow: 1;       /* empuja el botón hacia abajo */
  width: 85%;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}

/* BOTÓN HASTA ABAJO */
.Ecología section a {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.9rem;
}

.Ecología section a:hover {
  background-color: #3e8e41;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .Ecología {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .Ecología {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .Ecología {
    grid-template-columns: 1fr;
  }
  
  .Ecología section {
    height: 55vh;
  }
}
