.cabecera {
    padding: 3%;
     background-image: url("../Imagenes/verde(2).jpg");

 }

.AreasVerdes{

   display: grid;
 background-color: #444;
 font-family: 'Times New Roman', Times, serif;
 line-height: 1.5;
 overflow: hidden;
 color: #444;
}

 .Introducción {
    font-size: 21px;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 30px;
    background-color: rgb(192, 183, 183);
 }

 .acciones {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;     /* baja columnas en pantallas pequeñas */
    background: transparent;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.Personales {
    flex: 1 1 45%;
    padding: 5%;
    border-radius: 5%;
    margin: 5px;
    margin-left: 1%;
    background-image: url("../Imagenes/imagen-3.jpg");
    background-size: cover;
    background-position: center;
}

.Personales h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.Personales h2{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Comunitario {
    flex: 1 1 45%;
    padding: 5%;
    border-radius: 5%;
    margin: 5px;
    margin-right: 1%;
    background-image: url("../Imagenes/imagen-3.jpg");
    background-size: cover;
    background-position: center;
}

.Comunitario h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

 .Comunitario ul{
    font-size: 15px;
    line-height: 2;
    margin-bottom: 5%;
 }

 .Comunitario img {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
 }

 .Intro {
    font-size: 21px;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 30px;
    background-color: rgb(192, 183, 183);
 }

 .Comunidades {
    display: grid;
    width: 100%;
    margin-top: 20px;
    background-image: url("../Imagenes/imagen-2.jpg");
    justify-content: center;
 }

.Comunidades h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.Comunidades .titulo {
  text-align: center;
  margin-bottom: 30px;
}

.Comunidades .Organizaciones {
  display: flex;        
  gap: 20px;             
  justify-content: center; 
  flex-wrap: wrap;   
}

.Comunidades .Organización {
  flex: 0 1 30%;          
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  box-sizing: border-box;  
  text-align: left;
  margin-bottom: 20px;
}

